<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-07-19T20:41:24Z</date>
	<key>WorkspacePath</key>
	<string>/Users/gustavoavena/coding/Bandeco/BandecoUnicamp/Carthage/Checkouts/Gloss/Gloss.xcodeproj</string>
</dict>
</plist>
